*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --font-menu:"Montserrat", sans-serif;
    --font-secondary:"Abril Fatface", serif;
    --text-color:white;
}
a{
 color:var(--text-color) !important; 
font-size:18px !important;
font-family:var(--font-menu);
}
body{
    cursor:default;

}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-image: linear-gradient(-20deg, #302d2d 0%, #9bc5c3 100%);
}
::-webkit-scrollbar-thumb{
    
    background-image: linear-gradient(to top, #e08c1e 0%, #f52626 100%);
    border-radius:5px;

}
header{
   background:linear-gradient(90deg, rgba(34,34,34,0.9999999999999999) 0%, rgba(34,34,34,0.9999999999999999) 38%, rgba(34,34,34,0) 100%),url("images/bgimage\ 1.svg");
    width:100%;
    height:100%;
    background-attachment: fixed;
    background-size:cover; 
}
.offcanvas{
    background-color:rgba(34,34,34,0.9999999999999999);
} 
.bizza{
    font-family:var(--font-secondary);
    font-size:80px ;
}
header p{
    font-family: var(--font-menu);
    font-size:26px ;
}
.order{
    font-family: var(--font-menu);
    width:max-content;
    border-radius:25px;
    font-size:22px;
    letter-spacing:1px;
    padding:10px 90px !important;
    position: relative;
     overflow: hidden; 
    z-index: 2;
}
.order::after{
    content:"";
    background-image:url("images/wave3.svg");
    z-index:-1;
    position: absolute;
    background-repeat:no-repeat;
    top:0px;
    left:20px;
    height:210px;
    width:505px;
    transform:translate(-0%,-0%);
    animation:animate 30s linear infinite;
     display: none; 
}
.order:hover::after{
    display: block;
}

section{
    background:url("images/sksk.png");
    height:100%;
    background-size:cover;
    background-attachment:fixed;
    color:white;
    text-align: center;
    overflow: hidden;
    padding-bottom:50px;
   
}
section h1{
    font-size:60px;
    font-family:var(--font-secondary);
}
section .para,h2{
     font-size:22px;
     font-family: var(--font-menu);
}
section p{
    font-family: var(--font-menu);
    font-size: 17px;
}
aside{
    background-image:url("images/bgimage\ 3.svg");
    background-size: cover;
    height: 100%;
    padding-bottom:100px;
    background-attachment:fixed;
    overflow: hidden;
}
aside h2{
    font-size:70px;
    font-family:var(--font-secondary);
}
aside p{
    font-size:22px;
    font-family: var(--font-menu);
}
article{
    background:url("images/sksk.png");
    height:100%;
    background-size:cover;
    background-attachment:fixed;
    color:white;
    text-align: center;
    overflow: hidden;
    padding-bottom:125px;
}
article h2{
    font-size:70px;
    font-family:var(--font-secondary);
}
article p{
    font-size:22px;
    font-family: var(--font-menu);
}
article .col-3{
    border: 5px solid rgb(255, 252, 252);
    border-radius:100px;
    width: 200px;
    height:200px;
    margin:20px 50px;
    text-align: center;
    text-transform: uppercase;
    padding-top:40px;
    font-family: var(--font-menu);
    position: relative;
    overflow: hidden;
    z-index: 2;
}
article .col-3::before{
    content:"";
    position: absolute;
    background-image:url("images/waterdrop.svg");
    background-repeat: no-repeat;
    bottom:121;
    left:37px;
    width:107px;
    height:136px;
    z-index:-1;
    animation:animates2 1s linear infinite;
    display: none;
}
article .col-3::after{
    content:"";
    position: absolute;
    bottom:-145px;
    left:-222px;
    width:1000px;
    height:200px;
    background-image:url("images/wave.svg");
    background-repeat: no-repeat;
    transform: rotate(50deg);
    z-index:-1;
    animation:animates 10s linear infinite;
     display: none; 
}
article .col-3:hover::before{
    display: block;
}
article .col-3:hover::after{
    display: block;
}
.discount{
    background-image: url("images/bgimage\ 5.svg");
    background-size:cover;
    height:100%;
    padding-bottom:100px;
    background-attachment: fixed;
    overflow: hidden;
}
.discount h2{
    font-size:70px;
    font-family:var(--font-secondary);
}
.discount p{
    font-size:22px;
    font-family: var(--font-menu);
}
.addie{
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7)38%),url("images/bgimage\ 6.svg");
    height:100%;
    background-size: cover;
    padding-bottom:250px;
    background-attachment: fixed;
    overflow: hidden;
}
.addie p{
    font-size:22px;
    font-family:var(--font-menu);
    letter-spacing:1px;
    margin-top:200px;
    
}
.addie h2{
    font-size:40px;
    font-family:var(--font-secondary);
}
.subscripe{
    background:url("images/sksk.png");
    height:100%;
    background-size:cover;
    color:white;
    text-align: center;
    overflow: hidden;
    padding-bottom:225px;
    background-attachment: fixed;
    
}
.subscripe h2{
    font-size:70px;
    font-family:var(--font-secondary);
}
.subscripe p{
    font-size:22px;
    font-family: var(--font-menu);
}
footer{
    background-color:black;
    height:100%;
    font-family:var(--font-menu);
    background-attachment: fixed;
    padding-bottom:180px;
}
footer i{
    padding:10px 13px;
    background-color: white;
    color: black;
    border-radius:100px;
    margin:3px;
    
}

/*  design */
li a{
    position: relative;
}

li a::after{
    content: "";
    width:0px;
    height:4px;
    background-image: linear-gradient(to right, #242424 0%, #f7f4f4 100%);
    position: absolute;
    top:40px;
    left:35px;
    border-radius: 25px;
    transition:linear 0.5s;
}
li a:hover::after{
  width:75px; 
  left:0px;
}
.navbar-brand img:hover{
    filter:drop-shadow(5px 5px 5px white);
}

@keyframes animate{
    0%{
        transform: translate(-10%,-10%);
    }
    100%{
        transform: translate(70%,-0%);
    }
}

@keyframes animates{
    0%{
        transform: translate(0%,-10%)rotate(10deg);
    }
    100%{
        transform: translate(0%,-10%)rotate(35deg);
    }
}

@keyframes animates2{
    0%{
        transform: translate(0%,-90%);
    }
    100%{
        transform: translate(0%,50%);
    }
}